
/*
    \\ ======== START - My Styles ================================= //
*/

body {
    font-family: Segoe UI, Helvetica, Arial, sans-serif; 
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 80%;
    /*
    background-repeat
    background-attachment
    background-origin
    background-clip
    background-color
    */
}

#page-background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -100;
}
.stretch {
    width:100%;
    height:100%;
}

.thincms-header {
    padding: 10px 0 10px 0;
    margin: 0 0 30px 0;
    display: block;
    clear: both;
    background-color: #9bcc60;
    border-bottom: 10px solid #201913;
    color: #201913;
}
.thincms-header h1, p {
    text-align: center;
}

#thincms-container {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    top: 70px;
    bottom: 10px;
    padding: 10px;
}

#entrys-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    bottom: 0;
}

#entry-detail{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow:auto;
    width: 600px;
}

ul {
    list-style: none;
    width: 100%;
    margin:0px;
    padding: 0px;
}

.is-not-saved {
    border-color: red !important;
    color: red !important;
}
.is-selected {
    background: #9bcc60 !important;
    color: #000 !important;
}
.forminput {
    margin: 10px;
}
#entry-list .forminput{
    width: 290px;
}
#entry-detail .forminput{
    width: 578px;
}
#entry-detail textarea.forminput{
    height: 100px;
}
